<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">家庭記帳本</a>
</nav>
<div class="container d-flex flex-column justify-content-center">

  <select class="mx-auto" name="" id="" style="width:100%;">
    {{#each categories}}
    <option value="">{{ this.categoryName }}</option>
    {{/each}}
  </select>

  {{#if totalAmount}}
  <h3>總金額: {{ this.totalAmount}}</h3>
  {{/if}}

  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-auto mr-auto">
          <i class="{{ this.categoryIcon }}"></i>{{ this.name }}
          <p>{{ this.date }}</p>
        </div>

        <div class="col-auto">
          <p>{{ this.amount }}<a href="./expense/{{ this._id }}/edit" class="btn">修改</a>
          <a href="" class="btn">刪除</a></p>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>


  <a href="./expense/new" class="btn btn-primary">新增支出</a>
</div>