<div class="container">
  <form action="/filter" class="filter-category mt-5 pt-3 mx-auto" onchange="submit()">
    <div class="row">
      <div class="col-5">
        <!-- dropdown for category -->
        <select class="form-control" name="category" id="category" style="width:100%;">
          <option value="">分類篩選</option>
          {{#each categories}}
          {{!-- 選擇的分類和某一分類匹配，顯示選擇的分類 --}}
          <option value="{{ this.categoryName }}" name="{{ this.categoryName }}" {{#is this.categoryName ../categoryFiltered }} selected {{/is}}>
            {{ this.categoryName }}</option>
          {{/each}}
        </select>
      </div>

      <div class="col-5">
        <input type="month" id="yearMonth" class="form-control d-inline-block mr-1" name="yearMonth" min="2018-01" max="2025-12" value="{{inputMonth}}" onchange="this.form.submit()">
      </div>

      <div class="col-2 align-self-center">
        <a href="/" id="reset-button" class="btn btn-lg btn-info">清除條件</a>
      </div>
      
    </div>
  </form>
</div>

  {{#if totalAmount}}
  <div class="text-center total-amount-section">
    <h1 class="total-amount mt-3 mb-4">總金額: {{ this.totalAmount}}</h1>
  </div>
  {{/if}}
  <div class="mx-auto" style="max-width: 800px;">
    <ul class="list-group record-section">
      {{#each records}}
      <li class="list-group-item record-section-list mt-2" style="border: 2px solid black">
        <div class="row">
          <div class="col-auto mr-auto record-section-info align-self-center">
            <i class="{{ this.categoryIcon }}"></i>
            <span class="record-section-name">{{ this.name }}</span>
            <span class="record-section-date">{{ this.date }}</span>
            <span class="record-section-merchant">{{ this.merchant }}</span>
          </div>

          <div class="col-auto ml-auto record-section-detail ">
            <span class="record-section-amount">{{ this.amount }}元</span>
            <a href="./expenses/{{ this._id }}/edit" class="btn btn-outline-success record-section-update ml-3">修改</a>
            <form class="record-section-delete ml-2" action="/expenses/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
              <button class="btn btn-outline-danger" type="submit">delete</button>
            </form>
          </div>

        </div>
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="list-group create-btn-section mx-auto" style="width: 12rem;">
    <a href="./expenses/new" class="btn btn-primary  create-btn mt-4 mb-4">新增支出</a>
  </div>
</div>