<div class="container">
  <form action="/filter" class="filter-category mt-5 pt-3 mx-auto" onchange="submit()">
    <div class="row">
      <div class="col-6">
        <!-- dropdown for category -->
        <select class="form-control" name="category" id="category" style="width:100%;">
          <option value="{{ this.categoryName }}">所有分類</option>
          {{#each categories}}
          {{!-- 選擇的分類和某一分類匹配，顯示選擇的分類 --}}
          <option value="{{ this.categoryName }}" {{#is this.categoryName ../currentCategory }} selected {{/is}}>{{ this.categoryName }}</option>
          {{/each}}
        </select>
      </div>

      <div class="col-6">
        <!-- dropdown for month -->
        <div class="input-group filter-month mb-3 container-fluid">
          <select class="form-control" id="record-month" name="month" onchange="submit()">
            <option value="">所有月份</option>
            <option value="1" {{#is monthFiltered '1' }} selected {{/is}}>一月</option>
            <option value="2" {{#is monthFiltered '2' }} selected {{/is}}>二月</option>
            <option value="3" {{#is monthFiltered '3' }} selected {{/is}}>三月</option>
            <option value="4" {{#is monthFiltered '4' }} selected {{/is}}>四月</option>
            <option value="5" {{#is monthFiltered '5' }} selected {{/is}}>五月</option>
            <option value="6" {{#is monthFiltered '6' }} selected {{/is}}>六月</option>
            <option value="7" {{#is monthFiltered '7' }} selected {{/is}}>七月</option>
            <option value="8" {{#is monthFiltered '8' }} selected {{/is}}>八月</option>
            <option value="9" {{#is monthFiltered '9' }} selected {{/is}}>九月</option>
            <option value="10" {{#is monthFiltered '10' }} selected {{/is}}>十月</option>
            <option value="11" {{#is monthFiltered '11' }} selected {{/is}}>十一月</option>
            <option value="12" {{#is monthFiltered '12' }} selected {{/is}}>十二月</option>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>

  {{#if totalAmount}}
  <div class="text-center total-amount-section">
    <h1 class="total-amount mt-3 mb-4">總金額: {{ this.totalAmount}}</h1>
  </div>
  {{/if}}
  <div class="d-flex justify-content-center">
    <ul class="list-group record-section">
      {{#each records}}
      <li class="list-group-item record-section-list mt-2" style="border: 2px solid black">
        <div class="row">
          <div class="col-auto mr-auto record-section-info align-self-center">
            <i class="{{ this.categoryIcon }}"></i>
            <span class="record-section-name">{{ this.name }}</span>
            <span class="record-section-date">{{ this.date }}</span>
            <span class="record-section-merchant">{{ this.merchant }}</span>
          </div>

          <div class="col-auto ml-auto record-section-detail ">
            <span class="record-section-amount">{{ this.amount }}元</span>
            <a href="./expenses/{{ this._id }}/edit" class="btn btn-outline-success record-section-update ml-3">修改</a>
            <form class="record-section-delete ml-2" action="/expenses/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
              <button class="btn btn-outline-danger" type="submit">delete</button>
            </form>
          </div>

        </div>
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="list-group create-btn-section mx-auto" style="width: 12rem;">
    <a href="./expenses/new" class="btn btn-primary  create-btn mt-4 mb-4">新增支出</a>
  </div>
</div>